Atom
BraveSoftware/*
calcurse
dconf
deadbeef
Electron/*
GeoGebra
GIMP
goa-1.0
gtk-3.0
kdeconnect
libreoffice/*
light
mpv
pulse
teams
Microsoft/*
transmission
transmission-daemon
wireshark
wall.*
Xresources_*
